.burger {
  position: absolute;
  top: 5%;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.7rem;
  height: 1.1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger:focus {
  outline: none;
}

.burger:hover [class*="bun"] {
  background: #999;
}

.bun {
  width: 1.7rem;
  height: 0.25rem;
  background: #42423e;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 7px;
}

.topBunOpen {
  transform: rotate(45deg);
  background: blue;
}

.bottomBunOpen {
  transform: rotate(-45deg);
  background: red;
}

.bunClose {
  transform: rotate(0);
}
