.home {
  text-align: center;
}

.header {
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.1rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: #21211f;
  font-size: 6.35rem;
  font-weight: 600;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.footer {
  position: absolute;
  bottom: 35px;
  width: 100%;
}
