.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
  height: 20vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}

@media (max-width: 576px) {
  width: 100%;
}

.link {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 0.5rem;
  color: #21211f;
  text-decoration: none;
  transition: color 0.3s linear;

  @media (max-width: 576px) {
    font-size: 1.5rem;
    text-align: center;
  }
}

.link:hover {
  color: #343078;
}
