.subtitle {
  color: #21211f;
  font-size: 0.9rem;
  line-height: 0;
  letter-spacing: 0.135rem;
  padding: 0 23rem 0 0;
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  position: relative;
}

@media screen and (max-width: 650px) {
   .subtitle {
     padding: 0 0.8rem 0 0;
   }
}
